# flexi-rag-platform
# Datos pesados de modelos de IA
docker-infra/ollama_data/
# Archivos de sistema
.DS_Store
*.log
.env
__pycache__/
*.pyc

# Bases de datos de clientes (vector stores)
RAG-docs/*/db/
